<div class="cars">
  <ng-container *ngFor="let car of (rented$ | async)">
    <div *ngIf="isInRented(car)" class="car">
      <div class="car-thumb-container">
        <img
          *ngIf="car.make"
          alt="thumbnail"
          class="car-thumbnail"
          src="{{ car.imageUrl }}"/>
      </div>
      <div class="car-url">
        <p class="car-name">Make: {{ car.make }}</p>
        <p class="car-model">Model: {{ car.model }}</p>
        <p class="car-year">Year: {{ car.year }}</p>
        <p class="car-price">Price: {{ car.price | currency}}</p>
        <div>
          <button (click)="removeFromRented(car)" class="remove-button">Remove from wishlist</button>
        </div>
      </div>
    </div>
  </ng-container>
</div>


