<nav class="navbar">
    <a routerLink="" class="navbar-logo-link">
      <img class="navbar-logo" src="assets/logo.png" alt="Logo">
    </a>

    <div class="navbar-buttons">
      <a class="navbar-button" routerLink="">Home</a>
      <a class="navbar-button" routerLink="/about">About</a>
      <a class="navbar-button" routerLink="/contact">Contact</a>

      <a *ngIf="isLoggedIn()" class="navbar-button" routerLink="/rentals">My Rentals</a>
      <a *ngIf="!isLoggedIn()" class="login-button" routerLink="/login">Login</a>
      <a *ngIf="isLoggedIn()" class="login-button" (click)="logout()" >Logout</a>
    </div>
  </nav>
