.navbar {
  display: flex;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: solid black 1px;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
  justify-content: space-around;
}

.navbar-image-div {
}

.navbar-logo-link {
  flex: 1;
  text-align: left;
  margin-left: 20%;
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 70px;
}

.navbar-buttons {
}

.navbar-button {
  font-size: 16px;
  color: #333;
  text-decoration: none;
  margin-left: 20px;
  padding: 5px;
}

.navbar-button:hover {
  color: #0b83ab;
}

.login-button {
  font-size: 16px;
  color: #333;
  text-decoration: none;
  margin-left: 20px;
  padding: 5px 5px;
}

.login-button:hover {
  color: #0b83ab;
}
