<ng-container *ngFor="let car of cars">
  <div>
    <img
      *ngIf="car.make"
      src="{{ car.imageUrl }}"
      alt="thumbnail"
      class="car-thumbnail"/>
  </div>
  <div class="card" style="display: flex; justify-content: center; align-items: center;">
    <div class="car-data">Make: {{ car.make }}</div>
    <div class="car-data">Model: {{ car.model }}</div>
    <div class="car-data">Year: {{ car.year }}</div>
    <div class="car-data">Price: {{ car.price | currency}}</div>
  </div>
</ng-container>
