<div class="container">
  <form (ngSubmit)="signupdata(singup)" [formGroup]="singup" class="form-box1">
    <h3>Signup </h3>
    <div class="form-group">
      <label>Username</label>
      <input class="form-control mb-3 mt-3" formControlName="username" placeholder="Enter Username" type="text"/>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input class="form-control mb-3 mt-3" formControlName="password" placeholder="Enter Password" type="password"/>
    </div>
    <span>You Have Already Account? </span>
    <a (click)="sbtn()" routerLink="login">Sing in</a>
    <br/>
    <button class="btn btn-success" type="submit">Signup</button>
  </form>
</div>
<router-outlet></router-outlet>
