<div class="car-shop-div">
    <h1>Find Best Car For You - Auto Select</h1>
    <p>Find a car that meets all of your needs.</p>
  </div>
  
  <div class="searchFilter">
    <h2>Filter By:</h2>
    <div class="formDiv">
      <form (submit)="searchCars(searchMake.value)">
        <label>Name:</label>
        <input type="text" #searchMake placeholder="Search over 10,000+ cars">
        <button type="submit">Search</button>
        <br><br>
      </form>
      <form (submit)="filterByPrice(searchMin.value, searchMax.value)">
        <label>Price:</label>
        <input #searchMin placeholder="Min Price">
        <input #searchMax placeholder="Max Price">
        <button type="submit">Search</button>
      </form>
    </div>
  </div>
  <div class="cars">
    <select (change)="sortCars($event.target.value)">
      <option value="" disabled selected>Select an option</option>
      <option value="year">Year</option>
      <option value="price">Price</option>
    </select>
    <select (change)="filterCarByFuel($event.target.value)">
      <option value="" selected>Fuel type</option>
      <option value="diesel">Diesel</option>
      <option value="gasoline">Gasoline</option>
    </select>
    <select (change)="filterCarByTransmission($event.target.value)">
      <option value="" selected>Transmission type</option>
      <option value="automatic">Automatic</option>
      <option value="manual">Manual</option>
    </select>
    <ng-container *ngFor="let car of filteredCars">
      <div class="car">
        <div (click)="openCarDetails(car.id)" class="car-thumb-container">
          <img *ngIf="car.make" src="{{ car.imageUrl }}" alt="thumbnail" class="car-thumbnail" />
        </div>
        <div class="car-url">
          <p class="car-name">Make: {{ car.make }}</p>
          <p class="car-model">Model: {{ car.model }}</p>
          <p class="car-year">Year: {{ car.year }}</p>
          <p class="car-price">Price: {{ car.price | currency}}</p>
          <p class="car-name"> Fuel: {{car.fuel}}</p>
          <p class="car-name"> Transmission: {{car.transmission}}</p>
          <div class="car-img" (click)="addToWishList(car.id)">
            <img class="car-favorite" src="assets/heart.png" alt="favorite">
          </div>
        </div>
      </div>
    </ng-container>
  </div>